* {
    margin: 0;
    padding: 0;
}

body {
    
}

#area_max {
    width: 100vw;
    height: 100vh;

    
    margin-top: 20px 60px;

    /* 
        Tamnaho da tela
        levando em consideração  
        1900px de largura
        900px de altura
    */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

#perfil_nome_emp {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    border: 1px solid;

}

#perfil_nome_emp div h2 {
    position: relative;
    font-size: 2.6em;
    text-align: center;
}

#menu {
    
    grid-column-start: 4;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 2;

    border: 1px solid;
}

.btn {
    font-size: 2em;
    margin: 5px 25px;
    padding: px;
    border: none;
    background: none;
}

.btn a {
    text-decoration: none;
    color:black;
}

.nav-menu {
    height: 100%;
}

.nav-menu ul {
    display: inline-flex;
    height: 100%;
    width: 100%;
    list-style: none;
}

.nav-menu ul li {
    height: 100%;
    width: auto;
}

.item {
    position: absolute;
    height: 0;
    width: 0;

    margin-left: 60px;
    border-radius: 2px;

    transition: 0.3s;
}

.nav-menu ul li:hover .item{
    border: 1px solid;
    
    height: 100px;
    width: 160px;

}